header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    a{
        text-decoration: none;
        color : black;
    }

    .logo{
        display: flex;
        align-items: center;
    }
    
    img{
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        margin-inline: 2rem ;
        padding: 4px;
    }

    li{
        margin: 0px 2rem;
        display: inline;
    }

    ul{
        list-style: none;
        display: flex;
        gap : 1rem;
    }
}