header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    a{
        text-decoration: none;
        color : black;
    }

    span::after{
       content: "";
       display: block;
       height: 2px;
       margin-top: 2px;
       transform: scaleX(1.1);
    }

    .active > span::after{
       background-image: linear-gradient(to right, red , green);
    }

    .logo{
        display: flex;
        align-items: center;
    }
    
    img{
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        margin-inline: 2rem ;
        padding: 4px;
    }

    li{
        margin-inline: 3rem;
        display: flex;
    }

    li > a{
        display: flex;
        align-items: center;
    }

    ul{
        align-self: stretch;
        list-style: none;
        display: flex;
        align-items: stretch;
        gap : 1rem;
    }
}