<header>
    <a routerLink="/compare">
        <div class="logo">
            <img src="../../../assets/yt-sp.jfif" alt="Logo">
            <Span>Music-Compare</Span>
        </div>
    </a>
    <ul>
        <li>
            <a routerLink="/sync" routerLinkActive="active"><span>Sync</span></a>
        </li>

        <li>
            <a routerLink="/compare" routerLinkActive="active"><span>Compare</span></a>
        </li>

        <li>
            <a routerLink="/search" routerLinkActive="active"><span>Search</span></a>
        </li>
    </ul>
</header>